/* Estilos para el contenedor principal del footer */
.footer-container {
  position: relative;
  width: 100%;
  background-color: #222;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; /* Centrar verticalmente */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

/* Estilos para las etiquetas de enlace en el footer */
.footer-container a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s ease;
}

/* Cambiar el color de texto en el hover de los enlaces */
.footer-container a:hover {
  color: #8643f2;
}

/* Estilos para las secciones internas */
.biography, .skills, .copyright, .social-medias {
  flex: 1;
  max-width: 300px;
  text-align: left;
  padding: 0 20px;
}

/* Estilos para los íconos de redes sociales */
.social-medias label {
  font-size: 24px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para el ícono de correo electrónico */
.contact-info label {
  font-size: 24px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos para los íconos de redes sociales en el hover */
.social-medias label:hover {
  color: #8643f2;
}

/* Estilos para el ícono de correo electrónico en el hover */
.contact-info label:hover {
  color: #8643f2;
}