@media only screen and (max-width: 768px) {
    .form {
        padding: 30px;
    }
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.form {
   max-width: 100%;
}

.form label {
    font-size: 20px;
}

.form input {
    width: 100%;
}

.form select {
    width: 100%;
}

fieldset {
    max-width: 100%;
}

.field { 
    padding-top: 15px;
}

.form-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
   margin-top: 30px;
   width: 50%;
}



  

  

  

  
  
