.App {
  text-align: center;
  background-image: url("./assets/images/home-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: sans-serif;
  color: white;
}

.App-content{
  max-width: 1400px;
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
